body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
section{
    padding: 2rem;
}
.language-switch {
    display: flex;
    gap: 10px;
    background-color: #333;
}

.flag-link img {
    width: 30px;
    height: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.aboutme{
    text-align: center;
    padding: 50px;
}
.aboutme h2{
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}
.aboutme h2::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    background-color: #3498db;
}
.aboutme p {
    font-size: 18px;
    color: #777;
    line-height: 1.6;
}
.project{
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
}
footer{
    background-color: #333;
    counter-reset: white;
    text-align: center;
}